@import url('reset.css');


.body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 21px;
    position:relative;
}

/* 頁首 */
.top-2{
    height: 55px;
    width: 100%;
    min-width: 1200px;
    background-color: rgba(255, 255, 255);
    border-bottom: 2px solid rgba(212, 149, 91);
    /* position:absolute; */
    /* border: 1px solid red; */
    display:flex;
    position: fixed;
    z-index: 2;
}



.top-2 img{
    height: 50px;
    margin-left: 10vw;
    margin-top: 5px;
}
.top-2 ul{
    display:flex;
    width: 50%;
    margin-left: auto;
    margin-right:10.41% ;
    line-height: 55px;
    /* margin-top: 15px; */
    height: 55px;
    /* position:relative; */
    
    /* border: 2px solid red; */
}

.top-2 ul li{
    flex-grow: 1;
}

.top-2 ul>li:nth-child(5) > a{
    color:rgb(235, 160, 92);
}

.top-2 ol{
    background-color:rgb(193, 115, 44);
    position:absolute;
    /* left:467.76px;
    top:56px; */
    width: 170px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.top-2>ul>li:nth-child(4):hover ol{
    max-height: 200px;
    z-index: 2;
} 



.top-2 ul a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    text-align:center;
    text-align: left;
    margin-left: 15px;
}

.top-2 ol a{
    color:rgb(255, 227, 195);
    /* margin: 20px 0; */

}

.top-2 ul a:hover{
    color:rgb(235, 160, 92);
}



.top-2 ol a:hover{
    color:rgb(255, 255, 255);
}

.top-2>ul>li:nth-child(6){
    padding-top: 2px;
}

.top-2 ul li:nth-child(6){
    flex-grow: 0;
}

.top-2 ul li:last-child{
    flex-grow: 0;
}

.top-2 .fa-bars{
    color:rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 20px;
    display:none;
}

.top-2 .user2{
    display: none;
}

.fa-user{
    font-size: 20px;
}

.fa-cart-shopping{
    font-size: 20px;
}

.wrapper-page2 .cartforcellphone{
    display: none;
}



/* .top-2 ul li a{
    text-align: left;
    margin: 10px 0;
    color:white;
} */

.mall-banner{
    width: 100%;
    padding-bottom: 15%;
    background-image: url('../images/mall-background.jpg');
    background-size: cover;
    position: relative;
}


.wrapper-page2{
    width:100%;
    min-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* background-image: url(../images/page-2-background-image-2.png); */
    /* background-size: cover; */
    /* background-size: 100% auto; */
    /* background-position: 0px 200px; */
    /* background-repeat: no-repeat; */
}


.mall-banner h1{
    font-size :30px;
    /* position:relative; */
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    position: absolute;
    left:50%;
    top:60%;
    transform: translate(-50%,-50%);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    /* margin-bottom: 30px; */
}

.mall-left ul{
    width: 150px;
    height: 100%;
    position: relative;
    /* margin-left: 100px; */
}

.mall-left ul:after{
    content:'';
    display:block;
    position:absolute;
    background-color: #000000;
    width: 2px;
    height: calc( 100% - 85px);
    right:20px;
    top:15px;
}


.mall-left ul>a>li{
    font-size: 20px;
    line-height: 3;
    
}

.mall-left ul>a{
    text-decoration: none;
    font-weight: bold;
    color:black;
}


.content-mall-2{
    margin:0 10.41%;
    display: flex;
    padding: 0 0 100px;
}

.product{
    display:flex;
    height: 550px;
    /* width: 550px; */
}




.mainPhoto img{
    width: 550px;
}

.product-photo{
    /* margin-top: 10px; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: space-between; */
    height: 100%;
    margin-left: 15px;
}

.product-photo-2{
    
    /* flex-grow:1 */
}

.product-photo img{
    width: 170px;
}

.product-statement{
    margin-top: 20px;
    margin-left: 50px;
}

.product-statement h2{
    font-size: 30px;
}

.product-statement p{
    font-size: 25px;
    margin: 15px 0;
}

.amountChoose{
    display:flex;
    height: 35px;
    /* width: 90px; */
}

.amount{
    display: block;
    width: 50px;
}

.amount input{
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    border:none;
    padding:0px
    /* text-align: 35px; */
}

.amount1{
    /* width: 100%; */
}

.btn_minus, .btn_plus{
    border: 1px solid rgb(180, 180, 180);
    outline: none;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    font-size: 20px;
    width: 30px;
}

.amount{
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
}

.amount1{

}

/* .top-cart>a:hover + .cart-topright{
    display: block;
}

.cart-topright:hover{
    display: block;
} */

.cart-topright{
    width: 320px;
    background-color: rgb(255, 251, 246);
    z-index:3;
    position: absolute;
    top:55px;
    right:10.41%;
    padding: 20px 20px 20px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    border: 1px solid rgb(223, 199, 171);
    display: none;
    
}

.cart-topright>ul:first-child{
    font-size: 20px;
    border-bottom:1px solid rgb(233, 213, 189);
    height: 35px;
    margin-bottom: 10px;
    display:block;
    width: auto;
    margin-right: auto;
    line-height: 2;
    /* line-height: 2; */
}

.cart-topright-row2{
    /* width: 290px; */
    display: flex;
    /* justify-content: space-between; */
}

.cart-topright-row2>img{
    width: 120px;
    height: auto;
    margin-left: auto;
    margin-top: auto;
}

.cart-topright-row2 ul{
    margin-left: 20px;
    display: block;
    width: auto;
    margin-right: auto;
    height: auto;
    line-height: 1.4;
}

.cart-topright-amount{
    display: flex;
}

.cart-topright .cart-topright-row2 .deleteicon{
    flex-grow: 1;
    text-align: right;
    display: flex;
    flex-direction:column;
    justify-content: center;
    /* margin-left: 30px; */
}

.cart-topright-row2 ul li>img{
    width: 20px;
    height: auto;
    margin-left: auto;
    margin-top: auto;
    /* text-align: center; */
    
}

.cart-topright-total{
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
    
}

.cart-topright .cart-topright-total-ul{
    display: block;
    width: auto;
    margin-right: auto;
    line-height: 1;
    height: auto;
}

.cart-topright-buy{
    margin-top: 15px;
    background-color:rgb(193, 115, 44);
    color:white;
    border: none;
    width: 100%;
    font-size: 20px;
    line-height: 1.4;
}

.cart-topright-total{
    display: flex;
    justify-content: flex-end;
}


/* 按鈕 */
.content-text a{
    display :block;
    width: 130px;
    height: 40px;
    border: 2px solid rgb(233, 124, 58); 
    text-decoration: none;
    font-size: 20px;
    color:black;
    text-align: center;
    line-height: 2;
    margin-left: auto;
    margin-top: 66px;
}

.content-text a:hover{
    background-color: rgb(233, 124, 58);
    color:white;
}

.button-buy-cart{
    margin-top: 20px;
}

.btn_cart{
    border: none;
    outline: none;
    background-color: rgb(23, 154, 201);
    cursor: pointer;
    font-size: 20px;
    line-height: 2;
    width: 300px;
    color:white;
    font-weight: bold;
}

.btn_buy{
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(193, 115, 44);
    cursor: pointer;
    font-size: 20px;
    line-height: 2;
    width: 300px;
    color:white;
    font-weight: bold;
}


.fa-cart-shopping{
    font-size: 20px;
    
}

.amountincart{
    
    /* display: inline-block; */
    display: block;
    /* display: flex; */
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
    color:white;
    width: 22px;
    height: 22px;
    background-color: red;
    z-index: 10;
    position: absolute;
    left: 23px;
    top: 4px;
    border-radius: 50%;
    display: none;
}



.top-cart{
    position: relative;
}

.amountincart-2{
    display: none;
    top:-100%;
    left:-100%;
}



.content-4{
    /* background-color: rgb(255, 242, 227); */
    padding-bottom: 50px;
}

/* 標題 */

.content-4 h1{
    font-size :30px;
    color:rgb(233, 124, 58);
    font-weight: bold;
    text-align: center;
    /* padding-top:50px;
    padding-bottom:25px; */
    margin-top: 50px;
    margin-bottom: 40px;
}

.content-4-content{
    display: flex;
    flex-wrap:wrap;
    margin: 0 10vw 0;
   

}

.content-4 .photo{
    background-image: url('../images/circle.png');
    background-size: 289px 289px;
    width: 289px;
    height: 289px;
    position: relative;
    margin: 0 auto;
    
}

.content-4-content img{
    width: 262px;
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    
}

.content-4-content p{
    line-height: 1.3;
    display: block;
    padding: 10px 10% 0;
    
}

.photo + p{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.photo + p:after{
    content:'';
    display:block;
    /* width: 270px; */
    width: 110%;
    height: 3px;
    background-color:rgb(233, 124, 58);

    position:absolute;
    /* left: 30px; */
    top: 50px;
    bottom: 0;
    margin: auto;
}








/* 麵包屑 */
.page2-place{
    margin:20px 10.41% 20px ;
    display: flex;  
}

.page2-place a{
    text-decoration: none;
    margin-right: 10px;
    color:black;
}

.page2-place p{
    margin-right: 10px;
}


/* 課程內容 */

.guitar{
    margin:0 10.41% 20px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    background-color: white;
}

.sing-2 ,.keyboard-2,.write-2{
    width: 100%;
} 

.page2-content h1{
    font-size: 30px;
    font-weight: bold;
    color:rgb(223, 124, 58);
}

.page2-content p{
    font-size: 20px;
    line-height: 1.3;
    margin-top: 35px;
    
}

/* 按鈕 */
.page2-content a{
    display :block;
    width: 130px;
    height: 40px;
    border: 2px solid rgb(233, 124, 58); 
    text-decoration: none;
    font-size: 20px;
    color:black;
    text-align: center;
    line-height: 2;
    margin-left: auto;
    margin-top: 30px;
}

/* 按鈕動態 */
.page2-content a:hover{
    background-color: rgb(233, 124, 58);
    color:white;
}

.page2-content img{
    width: 200px;
    height: 0%;
    margin-right: 40px;
}

.drum{
    margin:0 10.41% 20px 10.41%;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    float:right;
    background-color: white;
}

.sing{
    margin:0 10vw 20px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    background-color: white;
}

.keyboard{
    margin:0 10vw 20px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    float:right;
    background-color: white;
}

.write{
    margin:0 10vw 50px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    background-color: white;
    margin-bottom: 50px;
}

.footer-2{
    width: 100%;
    min-width: 1200px;
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: rgb(193, 115, 44);;
}

.footer-2 h1{
    color:white;
    text-align: center;
    line-height: 1.3;
}

.footer-2 p{
    color:white;
    text-align: center;
    line-height: 1.3;
}

.icon{
    text-align:center;
    margin-top: 10px;
}

.fa-facebook{
    color:white;
    font-size: 1.2rem;
    margin: 0 5px;
}

.fa-phone-flip{
    color:white;
    font-size: 1.2rem;
    margin: 0 5px;
}

.fa-envelope{
    color:white;
    font-size: 1.2rem;
    margin: 0 5px;
}

/* ------ 聯絡我們 ------ */

.wrapper-contact{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(../images/page-2-background-image-2.png); */
    /* background-size: cover; */
    /* background-size: 100% auto;
    background-position: 0px 200px;
    background-repeat: no-repeat; */
    
}

.contact-content{
    background-color: rgb(255, 242, 227);
    padding-top: 30px;
    padding-bottom: 50px;
}

.contact-content h1{
    font-size :30px;
    position:relative;
    color:rgb(233, 124, 58);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

}

.contact-content-1{
    width: 500px;
    margin: 0 auto 0;
}

.row1{
    display:flex;
    width: 100%;
    margin-bottom: 10px;
}

.row2{
    margin-bottom: 10px;
}

.row3{
    margin-bottom: 10px;
}

.course-box{
    display: flex;
}

.name{
    width: 50%;
}

.phone{
    width: 50%;
    margin-left: 2.5%;
}

.name-text{
    width: 95%;
    height: 20px;
    border:1px solid rgb(193, 115, 44);
}

.phone-text{
    width: 100%;
    height: 20px;
    border:1px solid rgb(193, 115, 44);
}

.e-mail-text{
    width: 100%;
    height: 20px;
    border:1px solid rgb(193, 115, 44);
}

.row4 textarea{
    width: 100%;
    border:1px solid rgb(193, 115, 44);
}

.contact-content-1 p{
    color:rgb(193, 115, 44);
    font-weight: bold;
    margin: 3px 0;
    font-size: 1rem;
}

.course-box p{
    color:black;
    font-weight: normal;
}

.contact-content-1 a{
    display :block;
    width: 130px;
    height: 40px;
    border: 2px solid rgb(233, 124, 58); 
    text-decoration: none;
    font-size: 20px;
    color:black;
    text-align: center;
    line-height: 2;
    margin: 20px auto 0;
}

.contact-content-1 a:hover{
    background-color: rgb(233, 124, 58);
    color:white;
}

.footer-2{
    font-family: sans-serif;
}

@media screen and (max-width: 415px){
    .body{
        height: 100%;
        width: 100%;
    }
    .wrapper-page2{
        min-width: 0;
    }
    .top-2{
        /* display: none; */
        width: 100%;
        min-width: 0;
        justify-content: space-between;
        /* position:relative; */
    }
    
    .top ul li a{
        text-align: center;
        margin: 10px 0;
    }

    .top-2 ul{
        display:block;
        background-color:rgb(173, 98, 25); 
        position: fixed;
        right: -100%;
        top: 55px;
        width: 80%;
        margin-right: 0px;
        height:100%;
        
        transition:all .5s;
        
    }
    .top-2 ul li{
        width: auto;
        width: 90%;
        margin: 0 auto;
        border-bottom: rgb(190, 145, 103) solid 1px;
        
    }

    /* .top-2 ul li a{
        text-align: center;
        margin: 10px 0;
        color:white;
    } */

    .top-2 ul li a{
        text-align: left;
        margin: 10px 0;
        color:white;
    }

    .top-2 .fa-bars{
        display:block;
        margin-right: 20px;
    }

    /* .top-2 .fa-bars:hover ~ ul{
        right:0px;
    } */

    .top-2 .user2{
        display: block;
        margin-top: 20px;
        margin-right: 20px;
        color:black;
    }
    .top-2 ul li ol li:first-child{
        width: 100%;
        border: none;
        border-top: rgb(190, 145, 103) solid 1px;
    }
    .top-2 ul li ol li:nth-child(2){
        width: 100%;
        border:none;
        border-top: rgb(190, 145, 103) solid 1px;
    }
    .top-2 ul li:nth-child(5){
        border:none;
    }
    .top-2 ul li ol li a{
        margin-left: 30px;
    }

    .top-2 ul li:nth-child(6){
        display: none;
    }
    
    .top-2 ul li:nth-child(7){
        display: none;
    }
    .wrapper-page2>.top-2>ul>li:nth-child(4) .heightafterclick{
        max-height: 200px;
    }
    .typesetting{
        flex-grow: 1 ;
    }
    .wrapper-page2>.top-2>ul>li:nth-child(4) ol{
        position: static;
        display: block;
        max-height:0px;
        width: auto;
        text-align: center;
        /* margin-left: 30px; */
        /* padding-left: 30px; */
        background-color: transparent;
        
    }

    .wrapper-page2 .cartforcellphone{
        display: block;
        margin-top: 20px;
        margin-right: 20px;
    }
    .wrapper-page2 .top-2 .ulafterclick{
        right:0;
    }

    .mall-banner{
        padding-bottom: 50%;
    }

    .mall-banner h1{
        top:65%;
    }
    .footer-2{
        min-width: 0;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .footer-2 p{
        text-align: left;
    }
    .footer-2 h1{
        text-align: left;
    }

    .content-mall-2{
        /* display: none; */
        flex-direction: column;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
    }

    .product{
        flex-direction: column;
    }
    .product-photo{
        flex-direction: row;
        margin-left: 0;
    }
    .mainPhoto img{
        width: 100%;
    }
    .product-photo img{
        width: 120px;
    }
    .product-statement{
        margin: 0;
    }

    .cart-cellphone-outside{
        position: relative;
    }

    .cart-topright{
        display: block;
    }

    .cart-topright .cart-cellphone-text{
        position: static;
        right:0;
        background-color: transparent;
        border: none;
        width: auto;
        height: auto;
        flex-grow:2;
    }
    .cart-topright .cart-cellphone-text-1{
        border:none;
    }

    .cart-topright .cart-topright-amount{
        border:none;
    }

    .cart-topright .cart-topright-row2 .deleteicon-2{
        border: none;
    }

    .cart-cellphone-text-1{
        border:none;
    }
    .amountincart{
        
         /* display: inline-block; */
    display: block;
    /* display: flex; */
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
    color:white;
    width: 22px;
    height: 22px;
    background-color: red;
    z-index: 10;
    position: absolute;
    top: 7px;
    left:8px;
    border-radius: 50%;
    display: none;
    }
    .cart-topright-cellphone{
        display: none;
    }
}