@import url('reset.css');
@import url('header2.css');

.body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 21px;
    position:relative;
}

/* 頁首 */

.top-2 ul li{
    flex-grow: 1;
}

.top-2 ul>li:nth-child(2) > a{
    color:rgb(235, 160, 92);
}

.top-2 ol{
    background-color:rgb(193, 115, 44);
    position:absolute;
    /* left:467.76px;
    top:56px; */
    width: 170px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.top-2>ul>li:nth-child(4):hover ol{
    max-height: 200px;
} 



.top-2 ul a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    text-align:center;
    text-align: left;
    margin-left: 15px;
}

.top-2 ol a{
    color:rgb(255, 227, 195);
    line-height: 50px;

}

.top-2 ul a:hover{
    color:rgb(235, 160, 92);
}

.top-2 ol a:hover{
    color:rgb(255, 255, 255);
}

.top-2 ul li:last-child{
    flex-grow: 0;
}

.top-2 ul li:nth-child(6){
    flex-grow: 0;
}
.fa-cart-shopping{
    font-size: 20px;
    /* position:relative; */
    /* margin-top: 5px; */
}

.user2{
    display: none;
}

.top-2 .fa-bars{
    display: none;
}



.amountincart{
    
    /* display: inline-block; */
    display: block;
    /* display: flex; */
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
    color:white;
    width: 22px;
    height: 22px;
    background-color: red;
    z-index: 10;
    position: absolute;
    left: 23px;
    top: 4px;
    border-radius: 50%;
    display: none;
}

.top-cart{
    position: relative;
}

.fa-cart-shopping{
    font-size: 20px;
}

.wrapper-page2 .cartforcellphone{
    display: none;
}

.fa-user{
    margin: 0 10px;
    font-size: 20px;
}


/* 學生評論 */

.feedback{
    /* width: 33.3%; */
    width: 500px;
    margin-bottom: 50px;
}






/* 按鈕 */
.content-text a{
    display :block;
    width: 130px;
    height: 40px;
    border: 2px solid rgb(233, 124, 58); 
    text-decoration: none;
    font-size: 20px;
    color:black;
    text-align: center;
    line-height: 2;
    margin-left: auto;
    margin-top: 66px;
}

.content-text a:hover{
    background-color: rgb(233, 124, 58);
    color:white;
}





.content-4{
    /* background-color: rgb(255, 242, 227); */
    padding-bottom: 50px;
    width: 100%;
}

/* 標題 */

.content-4 h1{
    font-size :30px;
    color:rgb(233, 124, 58);
    font-weight: bold;
    text-align: center;
    /* padding-top:50px;
    padding-bottom:25px; */
    margin-top: 50px;
    margin-bottom: 40px;
}

.content-4-content{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    /* margin: 0 10vw 0; */
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;

}

.content-4 .photo{
    background-image: url('../images/circle.png');
    background-size: 289px 289px;
    width: 289px;
    height: 289px;
    position: relative;
    margin: 0 auto;
    
}

.content-4-content img{
    width: 262px;
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    
}

.content-4-content p{
    line-height: 1.3;
    display: block;
    padding: 10px 10% 0;
    
}

.photo + p{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.photo + p:after{
    content:'';
    display:block;
    /* width: 270px; */
    width: 110%;
    height: 3px;
    background-color:rgb(233, 124, 58);

    position:absolute;
    /* left: 30px; */
    top: 50px;
    bottom: 0;
    margin: auto;
}




.wrapper-page2{
    width:100%;
    /* min-width: 1200px; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(../images/page-2-background-image-2.png); */
    /* background-size: cover; */
    /* background-size: 100% auto; */
    /* background-position: 0px 200px; */
    /* background-repeat: no-repeat; */
}




/* 麵包屑 */
.page2-place{
    margin:0px 10.41% 20px ;
    display: flex; 
    padding-top: 75px;
}

.page2-place a{
    text-decoration: none;
    margin-right: 10px;
    color:black;
}

.page2-place p{
    margin-right: 10px;
}


/* 課程內容 */

.guitar{
    margin:0 10.41% 20px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    background-color: white;
}

.sing-2 ,.keyboard-2,.write-2{
    width: 100%;
} 

.page2-content h1{
    font-size: 30px;
    font-weight: bold;
    color:rgb(223, 124, 58);
}

.page2-content p{
    font-size: 20px;
    line-height: 1.3;
    margin-top: 35px;
    
}

/* 按鈕 */
.page2-content a{
    display :block;
    width: 130px;
    height: 40px;
    border: 2px solid rgb(233, 124, 58); 
    text-decoration: none;
    font-size: 20px;
    color:black;
    text-align: center;
    line-height: 2;
    margin-left: auto;
    margin-top: 30px;
}

/* 按鈕動態 */
.page2-content a:hover{
    background-color: rgb(233, 124, 58);
    color:white;
}

.page2-content img{
    width: 200px;
    height: 0%;
    margin-right: 40px;
}

.drum{
    margin:0 10.41% 20px 10.41%;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    float:right;
    background-color: white;
}

.sing{
    margin:0 10vw 20px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    background-color: white;
}

.keyboard{
    margin:0 10vw 20px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    float:right;
    background-color: white;
}

.write{
    margin:0 10vw 50px ;
    width: 850px;
    border:2px solid rgb(233, 124, 58);
    display:flex;
    padding:40px;
    background-color: white;
    margin-bottom: 50px;
}

.footer-2{
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: rgb(193, 115, 44);;
}

.footer-2 h1{
    color:white;
    text-align: center;
    line-height: 1.3;
}

.footer-2 p{
    color:white;
    text-align: center;
    line-height: 1.3;
}

.icon{
    text-align:center;
    margin-top: 10px;
}

.fa-facebook{
    color:white;
    font-size: 1.2rem;
    margin: 0 5px;
}

.fa-phone-flip{
    color:white;
    font-size: 1.2rem;
    margin: 0 5px;
}

.fa-envelope{
    color:white;
    font-size: 1.2rem;
    margin: 0 5px;
}

/* ------ 聯絡我們 ------ */

.wrapper-contact{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(../images/page-2-background-image-2.png); */
    /* background-size: cover; */
    /* background-size: 100% auto;
    background-position: 0px 200px;
    background-repeat: no-repeat; */
    
}

.contact-content{
    background-color: rgb(255, 242, 227);
    padding-top: 30px;
    padding-bottom: 50px;
}

.contact-content h1{
    font-size :30px;
    position:relative;
    color:rgb(233, 124, 58);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

}

.contact-content-1{
    width: 500px;
    margin: 0 auto 0;
}

.row1{
    display:flex;
    width: 100%;
    margin-bottom: 10px;
}

.row2{
    margin-bottom: 10px;
}

.row3{
    margin-bottom: 10px;
}

.course-box{
    display: flex;
}

.name{
    width: 50%;
}

.phone{
    width: 50%;
    margin-left: 2.5%;
}

.name-text{
    width: 95%;
    height: 20px;
    border:1px solid rgb(193, 115, 44);
}

.phone-text{
    width: 100%;
    height: 20px;
    border:1px solid rgb(193, 115, 44);
}

.e-mail-text{
    width: 100%;
    height: 20px;
    border:1px solid rgb(193, 115, 44);
}

.row4 textarea{
    width: 100%;
    border:1px solid rgb(193, 115, 44);
}

.contact-content-1 p{
    color:rgb(193, 115, 44);
    font-weight: bold;
    margin: 3px 0;
    font-size: 1rem;
}

.course-box p{
    color:black;
    font-weight: normal;
}

.contact-content-1 a{
    display :block;
    width: 130px;
    height: 40px;
    border: 2px solid rgb(233, 124, 58); 
    text-decoration: none;
    font-size: 20px;
    color:black;
    text-align: center;
    line-height: 2;
    margin: 20px auto 0;
}

.contact-content-1 a:hover{
    background-color: rgb(233, 124, 58);
    color:white;
}

.footer-2{
    font-family: sans-serif;
    /* min-width: 1200px; */
}

@media screen and (max-width: 1200px){

    
    .top-2{
        width: 100%;
        min-width: 0;
        justify-content: space-between;
    }
    .top-2 ul{
        display:block;
        background-color:rgb(173, 98, 25); 
        position: fixed;
        right: -100%;
        top: 55px;
        width: 80%;
        margin-right: 0px;
        height:100%;
        transition:all .5s;
    }

    .top-2 .user2{
        display: block;
        color:black;
    }



    .top-2 ul li a{
        text-align: left;
        margin: 10px 0;
        color:white;
    }
    .top-2 ul li{
        width: auto;
        width: 90%;
        margin: 0 auto;
        border-bottom: rgb(190, 145, 103) solid 1px;
    }
    .wrapper-page2>.top-2>.header>ul>li:nth-child(4) .heightafterclick{
        max-height: 200px;
    }

    .wrapper-page2-1>.top-2>.header>ul>li:nth-child(4) .heightafterclick{
        max-height: 200px;
    }
    
    .wrapper-page2 .top-2 .ulafterclick{
        right:0;
    }

    .wrapper-page2-1 .top-2 .ulafterclick{
        right:0;
    }

    .top-2 .fa-bars{
        display:block;
        margin-right: 20px;
        font-size: 20px;
    }

    .wrapper-page2>.top-2>.header>ul>li:nth-child(4) ol{
        position: static;
        display: block;
        max-height:0px;
        width: auto;
        text-align: center;
        background-color: transparent;  
    }

    .wrapper-page2-1>.top-2>.header>ul>li:nth-child(4) ol{
        position: static;
        display: block;
        max-height:0px;
        width: auto;
        text-align: center;
        /* margin-left: 30px; */
        /* padding-left: 30px; */
        background-color: transparent;
        
    }

    .top-2 ul li:nth-child(6){
        display: none;
    }

    .top-2 ul li:nth-child(7){
        display: none;
    }

    .top-2 ul li ol li:first-child{
        width: 100%;
        border: none;
        border-top: rgb(190, 145, 103) solid 1px;
    }

    .top-2 ul li ol li:nth-child(2){
        width: 100%;
        border:none;
        border-top: rgb(190, 145, 103) solid 1px;
    }

    .top-2 ul li ol li a{
        margin-left: 30px;
    }
    .user2{
        display: block;
        text-align:right;
        margin-top: 20px;
        margin-right: 10px;
    }

    .wrapper-page2 .fa-cart-shopping{
        margin-top: 20px;
        margin-right: 20px;
        display: block;
    }
    .typesetting{
        flex-grow: 1;
    }

}

@media screen and (max-width: 950px){
    .footer-2{
        padding-left: 20px;
        padding-right: 20px;
        min-width: 0;
        
    }

    .footer-2 p{
        text-align: left;
    }

    .footer-2 h1{
        text-align: left;
    }
}


/* 414(iPhone) */
@media screen and (max-width: 415px){
    .body{
        height: 100%;
    }
    
    .top{
        /* display: none; */
        min-width: 0;
        justify-content: space-between;
        /* position:relative; */
    }

    .top-2{
        /* display: none; */
        min-width: 0;
        justify-content: space-between;
        /* position:relative; */
    }

    .top ul{
        display:block;
        background-color:rgba(161, 82, 9 , .9); 
        position: fixed;
        right: -414px;
        top: 55px;
        width: 100%;
        margin-right: 0px;
        height:100%;
        transition:all .5s;
        /* display:none; */
    }

    .top-2 ul{
        display:block;
        background-color:rgb(173, 98, 25); 
        position: fixed;
        right: -414px;
        top: 55px;
        width: 80%;
        margin-right: 0px;
        height:100%;
        transition:all .5s;
        /* display:none; */
    }
    



    /* .top-2 ul{
        display:block;
        background-color:rgb(173, 98, 25); 
        position: fixed;
        right: -100%;
        top: 55px;
        width: 80%;
        margin-right: 0px;
        height:100%;
        
        transition:all .5s;
       
    } */



    .top ul li a{
        text-align: center;
        margin: 10px 0;
    }

    .top-2 ul li a{
        text-align: left;
        margin: 10px 0;
        color:white;
    }

    .top-2 ul li{
        width: auto;
        width: 90%;
        margin: 0 auto;
        /* text-align: center; */
        border-bottom: rgb(190, 145, 103) solid 1px;
        
    }


    .top ul li{
        width: 80%;
        /* text-align: center; */
        border-bottom: white solid 1px;
        margin: 0 auto;
    }

    /* .top-2 ul li{
        width: 80%;
        
        border-bottom: white solid 1px;
        margin: 0 auto;
        
    } */

    .top ul li:last-child(){
        border-bottom: none;
    }

    .top .fa-bars{
        display:block;
        margin-right: 20px;
    }

    

    .top .fa-bars:hover ~ ul{
        right:0px;
    }

    .top-2 .fa-bars{
        display:block;
        margin-right: 20px;
        font-size: 20px;
        margin-top: 20px;
    }

    .top-2 ul li:nth-child(6){
        display: none;
    }

    .top-2 ul li:nth-child(7){
        display: none;
    }

    .wrapper-page2>.top-2>ul>li:nth-child(4) ol{
        position: static;
        display: block;
        max-height:0px;
        width: auto;
        text-align: center;
        /* margin-left: 30px; */
        /* padding-left: 30px; */
        background-color: transparent;
        
    }

    .wrapper-page2>.top-2>ul>li:nth-child(4) .heightafterclick{
        max-height: 200px;
    }

    .top-2 ul li ol li a{
        margin-left: 30px;
    }
    .top-2 ul li:nth-child(5){
        border:none;
    }

    .top-2 ul li ol li:first-child{
        width: 100%;
        border: none;
        border-top: rgb(190, 145, 103) solid 1px;
    }
    .top-2 ul li ol li:nth-child(2){
        width: 100%;
        border:none;
        border-top: rgb(190, 145, 103) solid 1px;
    }

    .top img{
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
       
    }


    .wrapper-page2 .top-2 .ulafterclick{
        right:0;
    }

    .top-2 .user2{
        color:black;
        margin-right: 10px;
    }

    .typesetting{
        flex-grow: 1 ;
    }

    .fa-cart-shopping{
        margin-top: 20px;
        margin-right: 20px;
    }

    .user2{
        display: block;
        color:white;
        /* flex-grow:1; */
        text-align:right;
        margin-top: 20px;
        margin-right: 10px;
    }


    .wrapper-page2 .cartforcellphone{
        display: block;
    }

    .wrapper{
        width: auto;
        width: 100%;
        min-width: 0;
    }

    .swiper{
        height: 500px;
    }

    .content-2 .mySwiper{
        height: auto;

    }

    .swiper-slide-2-1{
        min-height: 600px;
    }

    .content{
        width: auto;
        width: 100%;
        display: block;
        margin-top: 30px;
        padding-bottom: 20px;
    }

    .content img{
        margin-left: auto;
        margin-top: auto;
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    
    .content-text{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .content-text h1{
        text-align: center;
    }

    .content-text p{
        /* margin-top: 20px; */
        margin: 20px 20px 0;
    }

    .content-text a{
        margin: 20px auto 0;
        /* width: calc(100% - 20px); */
    }

    .content-text h1:before{
        display: none;
    }

    .square{
        display: none;
    }

    .content-2{
        display: block;
    }



    .content-3{
        display: block;
        min-width: 0;
        width: 100%;
    }

    .content-4{
        display: block;
    }

    .room{
        grid-template-columns:1fr 1fr ;
        grid-template-rows:1fr 1fr 1fr  ;
        margin: 0 auto;
        width: 400px;
    }

    .room1{
        /* width: 300px;
        height: 300px; */
        width: auto;
        grid-column: 1 / 3;
        height: 200px;
        margin:0;
    }

    .room2{
        /* width: 300px;
        height: 300px; */
        grid-column: 1 / 2;
        grid-row :2 / 3;
        width: 200px;
        height: 200px;
        margin:0;
    }

    .room3{
        grid-column: 2 / 3;
        grid-row :2 / 3;
        width: 200px;
        height: 200px;
        margin:0;
    }

    .room4{
        grid-column:1 / 2;
        grid-row :3 / 4;
        width: 200px;
        height: 200px;
        margin:0;
    }

    .room5{
        grid-column:2 / 3;
        grid-row :3 / 4;
        width: 200px;
        height: 200px;
        margin:0;
    }



    .room1-after{
        
        /* z-index: 2; */
    }

    .content-4-content{
        margin: 0;
        flex-direction: column;
    }

    .content-4-content p{
        margin-bottom: 20px;
    }

    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer p{
        text-align: left;
    }

    .footer h1{
        text-align: left;
    }

    .wrapper-page2{
        min-width: 0;
    }

    .page2-content{
        display: block;
    }

    .page2-place{
        margin: 0;
        margin-left: 20px;
    }
    
    
    .page2-content img{
        width: 100%;
    }

    .content-4{

    }

    .content-4-content{
        flex-direction: column;
    }

    .feedback{
        width: 100%;
    }







    .footer-2{
        padding-left: 20px;
        padding-right: 20px;
        min-width: 0;
        
    }

    .footer-2 p{
        text-align: left;
    }

    .footer-2 h1{
        text-align: left;
    }



}