<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員</title>
    <link rel="stylesheet" href="css/style-login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="/js/vue.global.js"></script>
</head>
<body>
    <div id="app">
    <div class="wrapper-login">
        <div class="top-2">
            <a href="index.html"><img src="images/logo-2.png" alt=""></a>
            <div class="typesetting"></div>
            <a href="login.html" class="user2"><i class="fa-solid fa-user "></i></a>
            <i class="fa-solid fa-cart-shopping cartforcellphone"></i>
            <i class="fa-solid fa-bars"></i>
            <ul>
                
                <li><a href="course2.html">課程</a></li>
                <li><a href="feedback.html">學生好評</a></li>
                <li><a href="contact.html">聯絡我們</a></li>
                <li><a href="" class="aboutusclick">關於我們</a>
                    <ol class="aboutus">
                        <li><a href="brand.html">品牌故事</a></li>   
                        <li><a href="classroom.html">教室環境</a></li>
                    </ol>
                </li>
                <li><a href="mall.html">購物商城</a></li>
                <li class="top-cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="amountincart"></div>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </li>
            </ul>
        </div> 

        <div class="page2-place">
            <a href="index.html">首頁</a>
            <p>/</p>
            <p>會員</p>
        </div>

        <div class="login-content">
            <div class="form_login">
                <form action="" class="form_login_2">
                <ul>
                    <li><button class="register">註冊</button><button class="login">登入</button></li>
                    <li><input type="text" class="accountnumber" placeholder="帳號" ></li>
                    <li class="password_parent"><input :type="inputType" class="password" placeholder="密碼">
                                                <i class="fa-solid fa-eye-slash" v-if="!showPassword" @click="toggleShowPassword"></i>
                                                <i class="fa-solid fa-eye" v-if="showPassword" @click="toggleShowPassword"></i>
                    </li>
                    <li>
                        <div class="keeplogin">
                        <input type="checkbox"><p>保持登入狀態</p>
                        </div>
                        <a href=""><p>忘記密碼</p></a></li>
                    <li><button class="btn_login">登入</button></li>
                    <li>
                        <div class="register_noaccount">
                        <p>還沒有帳號嗎?</p><a href="">立即註冊</a>
                        </div>
                    </li>
                    <li><p>或透過以下方式登入:</p></li>
                    <li><i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-line"></i></li>
                </ul>
                </form>
            </div>
                
                
                
               
                
                
                

            </div>

        </div>
    </div>

        <div class="footer-2">
            <h1>持續音樂</h1>
            <p>電話 : (02)2712-0589<br>
            地址 : 104台北市中山區南京東路三段219號5樓<br>
            本網站為緯育TibaMe前端工程師班第82期學員專題作品，本平台僅供學習、展示之用。<br>
            參考資源 : 存在音樂官方網站 這球吉他專門學院 0.3熱門音樂發展中心
            </p>
            <div class="icon">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-solid fa-phone-flip"></i></a>
            <a href=""><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>



    </div>

</div>
    <script>
    
        document.addEventListener("click", function(e){
          
          
          if(e.target.classList.contains("aboutusclick")){
              e.preventDefault();
              // console.log(e.target);
              let aboutus = e.target.nextElementSibling;
              console.log(aboutus);
              aboutus.classList.toggle("heightafterclick");
            }else{
    
            }
    
          if(e.target.classList.contains("fa-bars")){
            // console.log(e.target);
            let ulafterclick = e.target.nextElementSibling;
            console.log(ulafterclick);
            ulafterclick.classList.toggle("ulafterclick");
          }
    
          
    
    
    
        })
    </script>
    <script>
        Vue.createApp({
            data(){     // 變數放這裡!
                return {
      
                    showPassword:false,
                }
            },
            methods:{
                toggleShowPassword(){
                    this.showPassword = !this.showPassword;
                }
            },
            computed:{
                inputType(){
                    return this.showPassword ? 'text' :'password';
                }
            }   
           
        }).mount('#app')
    </script>
</body>
</html>